@model ProductionSystem.Web.Data.Entities.ProductoPago

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Pago</h4>
    <hr />
    <dl class="dl-horizontal">


        <dt>
            Producto Pagado
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProductoReal.Nombre)
        </dd>
        <dt>
            Empresa
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pago.Empresa.Nombre)
        </dd>

        <dt>
            Descripcion del pago
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pago.Nombre)
        </dd>


        <dt>
            Monto Total
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pago.MontoTotal)
        </dd>

        <dt>
            Fecha
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pago.Fecha)
        </dd>

        <dt>
            Unidades Pagadas
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UnidadesPagadas)
        </dd>



    </dl>
</div>
<div>
  <a asp-action="Index">Back to List</a>
</div>
