@model ProductionSystem.Web.Data.Entities.Linea

@{
    ViewData["Title"] = "Details";
}

<h2>Linea</h2>

<div>
    <h4>Linea</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>
    </dl>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

<h4>Categorias</h4>

@if (Model.Categorias == null || Model.Categorias.Count == 0)
{
    <h5>No se han agregado categorias</h5>
}
else
{
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Categorias.FirstOrDefault().Nombre)
                </th> 
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Categorias.OrderBy(c => c.Nombre))
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td id="@item.Id" align="right">
                        <a asp-action="EditCategoria" asp-route-id="@item.Id" class="btn btn-warning">Edit</a>
                        <a asp-action="DeleteCategoria" asp-route-id="@item.Id" class="btn btn-danger" id="btnDelete">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
}
<p>
    <a asp-action="AddCategoria" asp-route-id="@Model.Id" class="btn btn-primary"><i ></i> Add Categoria </a>
</p>



