@model ProductionSystem.Web.Data.Entities.Insumo

@{
    ViewData["Title"] = "Delete";
}

<h2>Borrar Insumo</h2>

<h3>Esta seguro de eliminar?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Stock)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Stock)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsRawProduct)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsRawProduct)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-warning" /> |
        <a asp-action="Index" class="btn btn-primary">Back to List</a>
    </form>
</div>
