@model ProductionSystem.Web.Data.Entities.Produccion
@{
    ViewData["Title"] = "ProduccionUsuario";
}

<h2>Produccion Actual</h2>

<h2>Detalles</h2>

<div>
    <h4>Produccion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FechaProduccion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FechaProduccion)
        </dd>


        <dd>
            @Html.DisplayFor(model => model.Pedido.Fecha)
        </dd>

        <dt>
            Cantidad
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pedido.Cantidad)
        </dd>


        <dt>
            Terminado:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pedido.estado)
        </dd>


        <dt>
            Encargado:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmpleadoProducción.Nombre)
        </dd>



    </dl>

</div>


<h4>Registrar Insumos Utilizados</h4>

@if (Model.InsumosUsados == null || Model.InsumosUsados.Count == 0)
{
    <h5>No se han agregado insumos</h5>
}
else
{
    <table class="table table-hover table-responsive-xl table-striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.InsumosUsados.FirstOrDefault().CantidadUsada)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.InsumosUsados.OrderBy(c => c.CantidadUsada))
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CantidadUsada)
                    </td>
                    
                </tr>
            }
        </tbody>
    </table>
}


<td>


    <a asp-area="" asp-controller="Producciones" asp-action="AddInsumoUsado" asp-route-id="@Model.Id">Agregar Cantidad Usada</a>

</td>