@model ProductionSystem.Web.Data.Entities.Produccion
@{
    ViewData["Title"] = "ProduccionUsuario";
}



<div>
    <hr />
    <h1>Produccion Actual</h1>
    <h2>Detalles</h2>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FechaProduccion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FechaProduccion)
        </dd>

        <dt>
            PEDIDO
        </dt>
        <br />
        <dt>
            Cantidad:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pedido.Cantidad)
        </dd>

        <dt>
            Fecha del Pedido:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pedido.Fecha)
        </dd>
        <dt>
            Estado del pedido:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pedido.estado)
        </dd>
        <br />
        <dt>
            PRODUCTO
        </dt>
        <br />
        <dt>
            Descripcion del Producto:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pedido.ProductoReal.Nombre)
        </dd>

        <dt>
            Stock Actual:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pedido.ProductoReal.stock)
        </dd>



    </dl>

</div>



@if (Model.EmpleadoProducción.Fase.Nombre == "Coccion")
{
    <h2>Insumos Utilizados</h2>
    @if (Model.InsumosUsados == null || Model.InsumosUsados.Count == 0)
    {
        <h5>No se han agregado insumos</h5>
    }
    else
    {
        <table class="table table-hover table-responsive-xl table-striped">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.InsumosUsados.FirstOrDefault().Id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.InsumosUsados.FirstOrDefault().CantidadUsada)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.InsumosUsados.OrderBy(c => c.CantidadUsada))
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.CantidadUsada)
                        </td>
                        <td id="@item.Id" align="right">
                            <a asp-action="DetailsInsumoUsado" asp-route-id="@item.Id" class="btn btn-warning">Detalles</a> |

                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }

    <td>
        @if (Model != null)
        {

            <a asp-area="" asp-controller="Producciones" asp-action="AddInsumoUsado" asp-route-id="@Model.Id" class="btn btn-warning ">Agregar Cantidad Usada</a>
        }
    </td>
}



    @if (Model.Deshecho == null)
    {
        <h2>Deshechos</h2>
        @if (Model != null)
        {

            <a asp-area="" asp-controller="Producciones" asp-action="AddDeshecho" asp-route-id="@Model.Id" class="btn btn-warning">Agregar Desecho</a>
        }

    }
    else
    {
        <table class="table table-hover table-responsive-xl table-striped">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Deshecho.Cantidad)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Deshecho.Observaciones)
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => Model.Deshecho.Cantidad)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => Model.Deshecho.Observaciones)
                    </td>
                </tr>
            </tbody>
        </table>

    }




    @if (Model.Resultado == null && Model.Deshecho != null)
    {

        <h2>Resultados</h2>

        <a asp-area="" asp-controller="Producciones" asp-action="AddResultado" asp-route-id="@Model.Id" class="btn btn-warning">Agregar Resultado</a>

    }


    @if (Model.Resultado != null)
    {
        <h2>Resultados</h2>

        <table class="table table-hover table-responsive-xl table-striped">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Resultado.Cantidad)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Resultado.Observaciones)
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => Model.Resultado.Cantidad)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => Model.Resultado.Observaciones)
                    </td>
                </tr>
            </tbody>
        </table>

        <a asp-area="" asp-controller="Producciones" asp-action="Confirmar" asp-route-id="@Model.Id" class="btn btn-success">Confirmar Finalizacion</a>
    }















