@model ProductionSystem.Web.Data.Entities.Etiqueta

@{
    ViewData["Title"] = "Delete";
}

<h2>Borrar Etiqueta</h2>

<h3>Esta seguro de eliminar?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Altura)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Altura)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Ancho)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ancho)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PrecioUnitario)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PrecioUnitario)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsWaterProof)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsWaterProof)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index"  class="btn btn-primary" >Back to List</a>
    </form>
</div>
