@model ProductionSystem.Web.Data.Entities.Producto

@{
    ViewData["Title"] = "Delete";
}

<h2>Eliminar</h2>

<h3>¿Estas seguro que quieres eliminar este producto?</h3>
<div>
    <h4>Producto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nombre Comercial
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt>
            Categoria

        </dt>

        <dd>
            @Html.DisplayFor(model => model.Categoria.Nombre)
        </dd>
        <dt>
            Sabor
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Sabor.Nombre)
        </dd>
        <dt>
            Tipo de Producto
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TipoProducto.Nombre)
        </dd>
        <dt>
            Presentación
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Presentacion.Nombre)
            <br />
            Capacidad: @Html.DisplayFor(model => model.Presentacion.Envase.Capacidad) Gr.
            <br />
            Etiqueta: @Html.DisplayFor(model => model.Presentacion.Etiqueta.Nombre) Tamaño : @Html.DisplayFor(model => model.Presentacion.Etiqueta.Altura) cm @Html.DisplayFor(model => model.Presentacion.Etiqueta.Ancho) cm

        </dd>


    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-primary">Back to List</a>
    </form>
</div>
