@model IEnumerable<ProductionSystem.Web.Data.Entities.Pedido>


@{
    ViewData["Title"] = "PedidosPendientesUsuario";
}

<h1>Pedidos Disponibles</h1>



<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductoReal.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cantidad)
            </th>


        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fecha)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.estado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductoReal.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cantidad)
                </td>

                <td>

                    
                    <a asp-area="" asp-controller="Producciones" asp-action="Create" asp-route-id="@item.Id">Seleccionar</a>
                    
                </td>

            </tr>
        }
    </tbody>
</table>



